@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

::-webkit-scrollbar {
    width: 5px;
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: #f0f8ff;
}
