body {
    overflow-x: hidden;
    background-color: #373c42;
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.tooltip {
    z-index: 5;
}

.text-discord {
    color: #5865F2;
}

a {
    color: #5865F2;
}
